@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Patua+One&display=swap');


body {
    overflow-y: auto;
    font-family: 'Patua One', cursive;
    background-color: #3a274e;
    color: #e5e5e5;
}

#navigation-bar {
    background-color: #3a274e;
}

#container-coming-soon {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #9ecaed;
    height: auto;
    width: auto;
    padding: 2%;
}

.coming_soon {
    margin-top: 10%;
    width: 400px;
    text-align: center;
    margin-left: -15px;
    outline: none;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #9ecaed;
    padding: 3%;
    text-shadow: 0 0 12px rgb(56 111 187 / 70%);
}

/* Surcharge bootstrap et modif classique sur des balises*/
.nav-link:hover { /* Modif sur la navbar, effet de survol sur les liens */
    transform: translateY(5px);
    transition: 0.5s;
}

#new_product {
    width: 60%;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #9ecaed;
}

#img_new_product {
    height: 300px;
    width: 100%;
}

.nav-link {
    width: 110px;
}

#container-all {
    margin-top: 10%;
}

#img-carroussel {
    height: 500px;
    width: 100%;
}

.carousel-item {
    height: 500px;
    overflow: hidden;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

.carousel {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 10px #9ecaed;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.bandeau_prd {
    background-color: #70e5ff;
    width: 100%;
    margin-top: 90%;
    font-size: 20px;
    color: teal;
    text-shadow: 0 0 12px rgb(56 111 187 / 70%);
    border: 0px solid dodgerblue;
    box-shadow: 0 0 10px #9ecaed;
}

#user_logo_navbar {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}




