@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Patua+One&display=swap');
body{
    font-family: 'Patua One', cursive;
    background-color: #3a274e;
}

.btnInscription {
    margin-top: 2%;
    height: 36px;
    width: 34%;
    margin-left: 29.9%;
    margin-bottom: 5%;
}

.btnConnexion {
    height: 37px;
    width: 34%;
    margin-top: 5%;
    margin-left: 29.9%;
}

h1.h3.mb-3.font-weight-normal {
    margin-left: 30%;
}

.container {
    margin-top: 5%;
    max-width: 1670px;
    background-color: cornflowerblue;
}

.nav-link:hover {
    transform: translateY(5px);
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: 0.5s;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0rem 2rem;
    font-size: 1.05rem;
}

input#inputEmail {
    width: 34%;
    margin-left: 29.9%;
    margin-bottom: 2%;
}

input#inputPassword {
    width: 34%;
    margin-left: 29.9%;
}
label {
    margin-left: 29.9%;
}

#inscription_link {
    color: #000000;
    padding-top: 5px;
}