@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Patua+One&display=swap');

body{
    font-family: 'Patua One', cursive;
    background-color: #3a274e;
}

#navbar{
    z-index: 1000;
}

#avis_utilisateurs {
    background-color: royalblue;
    color: floralwhite;
}

a.btn:hover {
    transform: translateY(5px);
    transition: 0.8s;
}

.nav-link:hover {
    transform: translateY(5px);
}

#max_price {
    margin-left: -15%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: 0.5s;
}

.detailPrd_Image {
    margin-top: 100px;
    width: 18rem;
    border: 2px solid black;
}

.detailPrd_Description{
    margin-top: 100px;
}

 .grid{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
 }

#filtre-prds{
    background-color: cornflowerblue;
}

form.filter {
    margin-top: 15%;
}

#liste-prds {
    margin-top: 3.2%;
}

#tarif-prd {
    background-color: #1ad395;
    box-shadow: 0 3px 0 rgb(10 162 112 / 43%), inset 0 1px 0 rgb(255 255 255 / 27%);
    text-shadow: 0 0 9px rgb(17 240 169 / 90%);
    color: black;
    width: 50px;
    text-align: center;
    margin-left: 90%;
    height: 8%;
    padding: 3%;
}

#lePrd:hover {
    transform: scale(1.05);
    transition: 1.2s;
    cursor: pointer;
}

#body-card-lePrd{
    background-color: #0c0020;
    color: #949494;
    box-shadow: -8px 10px 5px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: -8px 10px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}


