@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Patua+One&display=swap');

body{
    background: rgb(255, 255, 255);
    font-family: 'Patua One', cursive;
}

#navbar{
    z-index: 1000;
}

#avis_utilisateurs {
    background-color: royalblue;
    color: floralwhite;
}

a.btn:hover {
    transform: translateY(5px);
    transition: 0.8s;
}

.nav-link:hover {
    transform: translateY(5px);
}

#max_price {
    margin-left: -15%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: 0.5s;
}

.detailPrd_Image {
    margin-top: 100px;
    width: 18rem;
    border: 2px solid black;
}

.detailPrd_Description{
    margin-top: 100px;
}

 .grid{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
 }




