@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Patua+One&display=swap');

body{
    font-family: 'Patua One', cursive;
    background-color: #3a274e;
}
.nav-link{
    width: 110px;
}
#navigation-bar{
    background-color: #3a274e;
}

#navbar{
    z-index: 1000;
}

#avis_utilisateurs {
    background-color: #ffffff;
    color: #000000;
    margin-top: 5%;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
}

.detailPrd_Image {
    margin-top: 100px;
    width: 18rem;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
}

.detailPrd_Description{
    margin-top: 100px;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
}


#filtre-prds{
    background-color: darkslateblue;
    margin-top: 10.2%;
}

.form-control:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#keyword {
    border: none;
    background-color: unset;
    border-bottom: 1px solid black;
    color: #8d8d8d;
}

#keyword:hover {
    border: none;
    background-color: unset;
    border-bottom: 1px solid white;
}

#keyword:focus{
    border-bottom: 1px solid white !important;
    transition: 0.5s;
    color: white;
}

#keyword::placeholder{
    color: white;
}

#btn_filtre{
    background-color: slateblue;
    border-color: slateblue;
}

#btn_filtre:hover {
    transition: 0.5s;
    background-color: chartreuse;
    color: black;
}

#liste-prds {
    margin-top: 10.2%;
}

#tarif-prd {
    background-color: #1ad395;
    box-shadow: 0 3px 0 rgb(10 162 112 / 43%), inset 0 1px 0 rgb(255 255 255 / 27%);
    text-shadow: 0 0 9px rgb(17 240 169 / 90%);
    color: black;
    width: 50px;
    text-align: center;
    margin-left: 90%;
    height: 8%;
    padding: 3%;
}

#lePrd:hover {
    transform: scale(1.05);
    transition: 1.2s;
    cursor: pointer;
}

#lePrd{
    border-color: unset;
}

.star{
    color: orange;
}

.body-card-lePrd {
    height: fit-content;
    background-color: #0c0020;
    color: #949494;
    box-shadow: -8px 10px 5px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: -8px 10px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}
#user_logo_navbar {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

#badge_bottom_prd {
    margin-top: 300px;
    background-color: #8a2be2;
    text-align: center;
    text-shadow: 0 0 5px #18ff00;
    color: white;
    font-size: 40px;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
}

.pagination {
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}

/**
 * Surcharge bootstrap
 */
a.btn:hover {
    transition: 0.8s;
    filter: drop-shadow(3px 5px 7px black);
}

.nav-link:hover {
    transform: translateY(5px);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: 0.5s;
}


 .grid{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;
 }


form.filter {
    margin-top: 15%;
}




