@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Patua+One&display=swap');

body{
    font-family: 'Patua One', cursive;
    background-color: #3a274e;
}
.nav-link{
    width: 110px;
}
#navigation-bar{
    background-color: #3a274e;
}
#user_logo_navbar {
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
/**
    Effet sur les boutons
 */
a.btn:hover {
    transform: translateY(5px);
    transition: 0.8s;
}

#account_page {
    margin-top: 7%;
}

.card.user_logo_div {
    max-height: 300px;
    max-width: 350px;
    border-top: 1px solid dodgerblue;
    border-left: 1px solid dodgerblue;
    border-right: 1px solid dodgerblue;
    box-shadow: 0 0 5px #9ecaed;
}

#edit_pseudo:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

#user_logo_img {
    border-radius: 100%;
    height: 300px;
    width: auto;
}

.account_details{
    border-left: 1px solid dodgerblue;
    border-right: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
    box-shadow: 0 0 10px #9ecaed;
}

.nav-link:hover {
    transform: translateY(5px);
    transition: 0.8s;
}